<div>
  <span class="text-white text-3xl">Edit your task</span>
</div>
<%= form_for @task do |f| %>
    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-1">
      <div>
        <%= f.label :title ,class:"text-white"%>
        <%= f.text_field :title, class:"w-full px-2 py-2 text-red-700 bg-gray-200 rounded" %>
      </div>
       <div>
        <%= f.label :content ,class:"text-white"%>
        <%= f.text_area :content, class:"w-full px-2 py-2 text-gray-700 bg-gray-200 rounded", rows: "10" %>
      </div>
      <div>
        <%= f.label :start_date ,class:"text-white"%>
        <%= f.date_field :start_date, class:"w-full px-2 py-2 text-gray-700 bg-gray-200 rounded"%>
      </div>
       <div>
        <%= f.label :end_date ,class:"text-white"%>
        <%= f.date_field :end_date, class:"w-full px-2 py-2 text-gray-700 bg-gray-200 rounded"%>
      </div>
    <div class="flex justify-center mt-6">
      <%= f.submit "Submit", class:"px-4 py-2 text-gray-200 bg-[#2C394B] rounded-md hover:bg-[#414d5d] focus:outline-none btn", role:"button" %>
    </div>
  <% end %>
