<div>
  <div class="flex justify-between inline-block align-text-bottom mb-5">
    <div>
      <h1 class="text-white text-3xl"><%= @task.title %></h1>
    </div>
    <div>
    <!-- DD Button -->
      <button id="dropdownDefault" data-dropdown-toggle="dropdown" class="text-white bg-[#2C394B] hover:bg-[#414d5d] font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center" type="button">Actions<svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
    <!-- Dropdown menu -->
      <div id="dropdown" class="hidden z-10 w-40 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
          <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
            <li>
              <%= link_to "Edit", edit_task_path(@task), class:"block py-2 px-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
            </li>
            <li>
              <%= link_to "Delete", task_path(@task), data: { turbo_method: :delete}, class:"block py-2 px-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
            </li>
          </ul>
      </div>
    <!-- END -->
    </div>
  </div>
  <div class="grid sm:grid-cols-1 lg:grid-cols-3 gap-4">
    <!-- CARD 1 -->
    <div class="bg-[#2C394B] rounded p-4 flex justify-center">
      <div class="grid my-4">
        <div class="mb-6">
        <h2 class="text-center text-white text-2xl font-medium">Difficulty</h2>
        </div>
        <div>
          <div class="range-field">
            <div class="difficulty-range">
              <% (1..10).each do |i| %>
                <div class="difficulty-circle <%= 'difficulty-orange' if i <= @task.difficulty %>"></div>
              <% end %>
            </div>
        </div>
          </div>
        </div>
    </div>
    <!-- CARD 2 -->
    <div class="bg-[#2C394B] rounded p-4 flex justify-center">
      <div class="grid my-4">
        <div class="mb-6">
          <h2 class="text-center text-white text-2xl font-medium">Task length</h2>
        </div>
        <div>
          <h3 class="text-center text-lg text-white"><%= (@task.end_date - @task.start_date).to_i %> days</h3>
        </div>
      </div>
    </div>
    <!-- CARD 3 -->
     <div class="bg-[#2C394B] rounded p-4 flex justify-center">
      <div class="grid my-4">
        <div class="mb-6">
          <h2 class="text-center text-white text-2xl font-medium">Remaining time</h2>
        </div>
        <div>
          <h3 class="text-center text-lg text-white"><%= @remaining_time %> days left</h3>
        </div>
      </div>
    </div>

  </div>
  <div>
    <span>
      <%= @task.content %>
    </span>
  </div>
</div>
