<div>
  <div class="flex justify-between inline-block align-text-bottom mb-10">
    <div>
      <h1 class="text-white text-3xl"><%= @task.title %></h1>
    </div>
    <div>
      <%= link_to "Delete the task", task_path(@task), data: { turbo_method: :delete}, class:"text-[#FF4C29] hover:text-[#ff5e3e]" %>
      <%= link_to "Edit", edit_task_path(@task), class:"text-[#FF4C29] hover:text-[#ff5e3e]" %>

    </div>
  </div>
  <%= @remaining_time %> days left before end
  <div>
    <span>
      <%= @task.content %>
    </span>
  </div>
</div>
