<div class="my-20">
  <div>
    <span class="text-white text-3xl">
      Your urgent tasks
    </span>
  </div>
    <div class="pt-10 -my-2 overflow-hidden sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8 ">
    <div class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg rounded">
      <table class="min-w-full table-auto">
        <thead class="bg-[#2C394B]">
          <tr>
            <th class="px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-white uppercase border-b border-[#FF4C29]">
              Title
            </th>
            <th class="px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-white uppercase border-b border-[#FF4C29]">
              Content
            </th>
            <th class="px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-white uppercase border-b border-[#FF4C29]">
              Deadline
            </th>
            <th class="px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-white uppercase border-b border-[#FF4C29]">
            </th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <tr>
            <% @tasks.each do |task| %>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= task.title.truncate(20) %></td>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= task.content.truncate(80) %></td>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap">
              <% if (task.end_date - DateTime.now).to_i >= 3 %>
                <span class="text-gray-500"><%= (task.end_date - DateTime.now).to_i %> days left</span>
              <% elsif (task.end_date - DateTime.now).to_i >= 2%>
                <span class="text-orange-500 font-bold" font-bold><%= (task.end_date - DateTime.now).to_i %> days left</span>
              <% else %>
                <span class="text-red-500 font-bold"><%= (task.end_date - DateTime.now).to_i %> days left</span>
              <% end %>
              </td>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= link_to "Check", task_path(task), class:"text-[#FF4C29] hover:text-[#ff5e3e]" %></td>
          </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
