<div class="py-10">
  <div class="grid gap-4 grid-cols-12">
    <div class=" col-span-8 rounded py-2">
      <h2 class="text-white text-2xl">Most urgent tasks</h2>
      <div class="py-2 overflow-hidden sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8 ">
         <div class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg rounded">
      <table class="min-w-full table-auto">
        <thead class="bg-slate-800">
          <tr>
            <th class="px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-white uppercase border-b border-[#FF4C29]">
              Title
            </th>
            <th class="px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-white uppercase border-b border-[#FF4C29]">
              Content
            </th>
            <th class="px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-white uppercase border-b border-[#FF4C29]">
              Deadline
            </th>
            <th class="px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-white uppercase border-b border-[#FF4C29]">
            </th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <tr>
    <% @not_finished_tasks.take(5).each do |task| %>
      <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= task.title.truncate(20) %></td>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= task.content.truncate(40) %></td>

                    <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap">
                      <% if (task.end_date - DateTime.now).to_i >= 3 %>
                        <span class="text-gray-500"><%= (task.end_date - DateTime.now).to_i %> days left</span>
                      <% elsif (task.end_date - DateTime.now).to_i >= 2%>
                        <span class="text-orange-500 font-bold" font-bold><%= (task.end_date - DateTime.now).to_i %> days left</span>
                      <% else %>
                        <span class="text-red-500 font-bold"><%= (task.end_date - DateTime.now).to_i %> days left</span>
                      <% end %>
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= link_to "Check", task_path(task), class:"text-[#FF4C29] hover:text-[#ff5e3e]" %></td>
                </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
        </div>
    </div>
    <div class="col-span-4 rounded py-2">
      <h2 class="text-white text-2xl">Recently done tasks</h2>
      <div class="py-2 overflow-hidden sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8 ">
         <div class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg rounded">
      <table class="min-w-full table-auto">
        <thead class="bg-slate-800">
          <tr>
            <th class="px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-white uppercase border-b border-[#FF4C29]">
              Title
            </th>
            <th class="px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-white uppercase border-b border-[#FF4C29]">
            </th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <tr>
            <% @done_tasks.take(5).each do |task| %>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= task.title.truncate(20) %></td>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= link_to "Check", task_path(task), class:"text-green-500 hover:text-green-300" %></td>
          </tr>
            <% end %>
              </tbody>
            </table>

    </div>
    </div>

  </div>

</div>
